<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
        <title>login</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="style.css">
<style>
</style>

</head>
<body>
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td valign="top" align="center">
                <div class="header">

                </div>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
                <div class="hint">

                </div>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
                <div class="container">
                    <h1>Login</h1>
                    <form method="post" action="platform.cgi" name="tf1_frmIndex" id="tf1_frmIndex">
                        <!--<form id="create-form" th:action="@{/user/save}" th:object="${user}" th:method="post" accept-charset="utf-8">-->
                        <div class="break">
                            &nbsp;
                        </div>
                        <div class="formRow">
                            <label>Username</label>
                            <input name="Users.UserName" type="text" id="tf1_userName">
                        </div>
                        <div class="break">
                            &nbsp;
                        </div>
                        <div class="formRow">
                            <label>Password</label>
                            <input name="Users.Password" type="password" id="tf1_password">
                        </div>
                        <div class="break">
                            &nbsp;
                        </div>
                        <div class="formRow">
                            <input type="submit" name="button.login.Users.dashboard" class="button" title="Login" value="Login" id="tf1_btnLogin" onclick="">
                        </div>
                    </form>
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
                <div class = message>
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
                <div class = footer>
                </div>
            </td>
        </tr>
    </table>

</body>
</html>